In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
url = 'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'
fuel_data= pd.read_csv(url, error_bad_lines = False) 
fuel_data.describe(include = 'all')

In [8]:
fuel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

# Fuel type with the lowest average fuel cost per unit burned

In [48]:
#z represents each fuel type code and its corresponding average fuel cost per unit burned arranged in ascending order
z=fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values().reset_index(name = 'fuel_cost_per_unit_burned')
z.iloc[0,:]

fuel_type_code_pudl              gas
fuel_cost_per_unit_burned    13.6594
Name: 0, dtype: object

# Standard deviation and 75th percentile of the column fuel_mmbtu_per_unit

In [14]:
#sd = standard deviation  
#p_75 = 75th percentile 
sd = fuel_data.fuel_mmbtu_per_unit.std()
p_75 = fuel_data.fuel_mmbtu_per_unit.quantile(0.75)
sd = round(sd, 2)
p_75= round(p_75, 2)
print(sd)
print(p_75)

10.6
17.01

# skew and kurtosis of fuel quantity burned to 2 decimal places

In [18]:
from scipy.stats import skew
from scipy.stats import kurtosis
#sk = skew
#kt = kurtosis
sk = skew(fuel_data['fuel_qty_burned'])
kt = kurtosis(fuel_data['fuel_qty_burned'])
sk = round(sk, 2)
kt = round(kt, 2)
print(sk)
print(kt)

15.85
651.26

# Missing values in columns expressed as a percentage

In [20]:
#determining the column with missing values and the number of missing values in each column
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
# from the previous code there are 180 missing values in the fuel_unit column, the missing values are expressed as a fraction of the total no of values in the column, and is represented as missing_values 
missing_values = fuel_data.fuel_unit.isnull().sum()/fuel_data['fuel_unit'].isnull().count()
#expressing the missing values as a percentage
missing_values = missing_values *100
missing_values = round(missing_values, 3).astype(str) + '%'
print(missing_values)

# Parameters with the 2nd and 3rd lowest Correlation coefficient with fuel cost per unit burned

In [45]:
#coeff is a dataframe in descending order of all the columns and their correlation coefficient
coeff=fuel_data.corr().loc['fuel_cost_per_unit_burned'].sort_values( ascending = False).reset_index(name = 'fuel cost per unit burned')
coeff.iloc[[-2,-3,],:]

                 index  fuel cost per unit burned
5      fuel_qty_burned                  -0.018535
4  fuel_mmbtu_per_unit                  -0.010034

# Percentage change in fuel cost per unit burned in 1998 compared with 1994

In [57]:
import pandas as pd
import numpy as np
#pitable is a table of the sum of fuel_cost_per_unit_burned, for each year, and each fuel type
pitable = pd.pivot_table(fuel_data, values = 'fuel_cost_per_unit_burned',
               index = ['report_year'], columns = ['fuel_type_code_pudl'], 
              aggfunc = np.sum)
# m is a subset of the sum of fuel_cost_per_unit_burned,  for coal, in the years 1994 and 1998
m=pitable.loc[[1994,1998],'coal']
#percentage change for the year 1998
m.pct_change()

report_year
1994         NaN
1998   -0.205677
Name: coal, dtype: float64

# Year with the highest average fuel cost per unit delivered

In [ ]:
#yr represents each year and the corresponding average fuel cost per unit delivered arranged in descending order
yr = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending= False).reset_index(name = 'fuel cost per unit delivered')
yr.iloc[0]